<?php

return [
    'debug' => false,

    'database' => [
        'dsn' => 'mysql:host=...;dbname=...;charset=utf8',
        'user' => '...',
        'password' => '...',
    ],

    'templates' => [
        'dir' => __DIR__ . '/../templates',
        'cache' => __DIR__ . '/../storage/templates_cache',
    ],

    'logFile' => __DIR__ . '/../storage/logs/log.txt',
];
