RewriteEngine on

# Handle subdomain
# NOTE: place .htaccess inside subdomain folder (otherwise it will not work)
# RewriteCond %{HTTP_HOST} ^subdomain1\.domain\.com$ [NC]
# RewriteRule ^(.*)$ /subdomains/subdomain1/$1 [L]

# Remove WWW
# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
# RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

# Force WWW
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Force HTTPS
# RewriteCond %{HTTPS} off
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Handle front controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
