.page {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &.v-enter,
  &.v-leave-to {
    opacity: 0;
    transform: translateX(-10px);
  }
}
